<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="com.spring.freelancer.mappers.ReplyMapper">
	<resultMap id="boardResult" type="boardVO">
		<result property="bno" column="bno" />
		<result property="rno" column="rno" />
		<result property="content" column="content" />
		<result property="writer" column="writer" />
		<result property="regdate" column="regdate" />
	</resultMap>
	
<!-- AJAX처리  -->
<select id="replyRead" resultType="ReplyVO">
	SELECT RNO, CONTENT, WRITER, REGDATE
	FROM MP_REPLY
	WHERE BNO = #{bno}
	ORDER BY RNO
</select>
<insert id="insertReply" parameterType="ReplyVO">
	INSERT INTO
	MP_REPLY (RNO, BNO ,CONTENT, WRITER)
	VALUES(MP_REPLY_SEQ.NEXTVAL, #{bno}, #{content}, #{writer})
</insert>
<update id="replyUpdate" parameterType="ReplyVO">
	UPDATE MP_REPLY
	SET CONTENT = #{content}
	WHERE RNO = #{rno}
</update>
<delete id="replyDelete" parameterType="int" >
	DELETE FROM MP_REPLY WHERE RNO = #{rno}
</delete>

</mapper>